#ignore apple files
.DS_store

#ignore csv files
*.csv

#ignore python chechpoints
.ipynb_checkpoints

#ignore pdf
*.pdf
#ignore all the files in the report1 folder except the tex files
/Report1/*
!/Report1/*.tex

# ignore all the files in the report2 folder except the tex files
/Report2/*
!/Report2/*.tex

# ignore all the files in the report3 folder except the tex files
/Report3/*
!/Report3/*.tex